<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show All</title>
</head>
<body>
    <p>Mira consola</p>

    <form action="#"  th:action="@{/employee/update/{id}(id=${employee.id})}" th:object="${employee}" method="post" th:unless="${employee == null}">
        <label>First Name</label>
        <input name="first_name" type="text" th:value="${employee.first_name}">
        <label>Last Name</label>
        <input name="last_name" type="text" th:value="${employee.last_name}">
        <label>Salary</label>
        <input name="salary"type="text" th:value="${employee.salary}">
        <input type="submit" value="Update User">
    </form>

    <ul th:unless="${employee == null}">
        <li th:text="${employee.first_name}"></li>
        <li th:text="${employee.last_name}"></li>
        <li th:text=${employee.salary}></li>
    </ul>
    <H2 th:if="${employee==null}">Este usuario no existe, EMO SIO ENGAÑAO</H2>
</body>
</html>